
.container{
   padding: 12% 0 0 20%;
}

.grid{
   padding-top: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 80%;
   
}


.grid p {
  background-color: #ccc; 
  padding: 30px;
   display: block;
   
   
}

.grid p a {
    color: white;
    text-decoration: none;
  display: block;   
  width: 100%;      
  height: 100%;
}

.flex-container{
    padding-top: 2%;
    display: grid;
   grid-template-columns: repeat(4,1fr);
    gap: 20px;
    width: 80%;
    padding-left: 10%;
      
  
}
.flex-container img {
    aspect-ratio: 5/6; 
    width: 100%;
    object-fit: cover;
}
.rabat-container{
    position: relative;
   
    
}
.rabat{
    position: absolute;
    
    left: 70%; 
    bottom: 10%; 
    background: red;
    color: white;
    padding: 10px;
    font-weight: bold;
}
.image-container {
  position: relative;
 
}
.imggrey{
    filter:brightness(70%)
}
.sold {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgb(101, 97, 97);
  color: white;
  padding: 10px 10px;
  font-weight: bold;
}



.rykke-container{
    padding-top: 5%;
}

.nike{
    font-size: 5vh;
}
.nike-text1 {
    color: lightgray;
    
}

.nike-text {
    padding-top: 50px;
    color: lightgray;
    
}
.read-more{
    text-decoration: underline;
}

.wrap{
	white-space: pre-wrap;
    max-width: 200px;
    width: 380px;
    padding-top: 5%;
}

.grid3{
    padding-top: 10%;
    padding-left: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
}
.grid3 img{
    width: 100%;
}
.grey{
    background: grey;
    
}


